$primary-colour: #d0043c;
$primary-light-variant: #fff5f8;
$primary-light-variant2: #fefafb;
$secondary-colour: #00632c;
$secondary-light-variant: #ebf3ee;
$alternative-colour1: #19a4d1;
$alternative-colour2: #6a1b9a;
$alternative-colour3: #00838f;
$alternative-colour4: #d1390f;
$alternative-colour5: #d1c518;